body{

font-family:Arial;
text-align:center;
background:linear-gradient(135deg,#1e1e2f,#3b3b5c);
color:white;
height:100vh;

}

.title{

font-size:36px;
margin-top:30px;
letter-spacing:1px;
text-shadow:0 0 10px #00f7ff;
font-weight:600;

}

.games{

display:grid;
grid-template-columns:repeat(2, 260px);
gap:40px;

justify-content:center;
margin-top:60px;

}

.game-card{

width:260px;
height:180px;

background:#2c2c3e;

border-radius:15px;
cursor:pointer;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

transition:0.3s;

box-shadow:0 0 15px rgba(0,0,0,0.5);

}

.game-card:hover{

transform:scale(1.1);
background:#3f3f5e;
box-shadow:0 0 20px #00f7ff;

}

button{

padding:12px 25px;
font-size:16px;
margin-top:10px;
border:none;
border-radius:8px;
cursor:pointer;

}

#board{

display:grid;
justify-content:center;
margin-top:20px;

}

.square{

width:60px;
height:60px;
font-size:35px;
border:none;

}

.light{
background:#F0D9B5;
}

.dark{
background:#B58863;
}
.confetti{

position:fixed;
width:10px;
height:10px;
background:yellow;
top:-10px;
animation:fall 3s linear forwards;

}

@keyframes fall{

0%{
transform:translateY(0) rotate(0);
opacity:1;
}

100%{
transform:translateY(100vh) rotate(720deg);
opacity:0;
}

}